* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #fff; 
        /*overflow: hidden;*/
    }
    #ntitle {
        position: absolute;
        top: 10vw;
        left: 2vw;
    }
    #namebox {
        position: absolute;
        top: 10vw;
        left: 32vw;
        text-transform: lowercase;
    }
    #ctitle {
        position: absolute;
        top: 20vw;
        left: 2vw;
    }
    #commentbox {
        position: absolute;
        top: 20vw;
        left: 32vw;
    }
    #select {
        position: absolute;
        top: 32vw;
        left: 14vw;
        padding: 1.5vw 0vw;
    }
    #upload {
        position: absolute;
        top: 32vw;
        left: 42vw;
        padding: 1.5vw 0vw;
    }
    #retrieve {
        position: absolute;
        top: 32vw;
        left: 60vw;
        padding: 1.5vw 0vw;
    }
    #console {
        position: absolute;
        top: 18vw;
        left: 35vw;
        font-size: 3vw;
        color: green;
    }
    #desc {
        position: absolute;
        top: 10vw;
        left: 10vw;
        font-size: 10vw;
    }
    #box {
        position: absolute;
        padding: -100%;
        top: 45vw;
        left: 17vw;
        width: 65vw;
        height: auto;
        border: 2px solid black;
    }
    #myimg{
        width: 100%;
        height: 100%; 
    }
    #comment {
        position:absolute;                 
        margin-top: 2vw;
        left: -1vw;
    }
}