* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #fff; 
        /*overflow: hidden;*/
    }
    #title {
        position: absolute;
        top: 10vw;
        left: 2vw;
    }
    #namebox {
        position: absolute;
        top: 10vw;
        left: 32vw;
    }
    #myimg {
        position: absolute;
        top: 40vw;
        left: 17vw;
        width: 65vw;
        height: auto;
        border: 2px solid black;
    }
    #select {
        position: absolute;
        top: 25vw;
        left: 14vw;
        padding: 1.5vw 0vw;
    }
    #upload {
        position: absolute;
        top: 25vw;
        left: 42vw;
        padding: 1.5vw 0vw;
    }
    #retrieve {
        position: absolute;
        top: 25vw;
        left: 60vw;
        padding: 1.5vw 0vw;
    }
    #upProgress {
        position: absolute;
        top: 100vw;
        left: 35vw;
    }
    #console {
        position: absolute;
        top: 110vw;
        left: 25vw;
        font-size: 3vw;
    }
}